# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore __pycache__ directories
__pycache__/

# Ignore virtual environments
venv/
.env/

# Ignore IDE/editor configuration files
*.vscode/
.idea/
*.swp

# Ignore test result cache
*.pytest_cache/

/.mypy_cache


